.nav-bar {
    position: fixed;
    z-index: 3;
    height: 10vh;
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.5s ease-in-out;
    flex-wrap: wrap;
    .nav-links {
        display: flex;
        list-style: none;
        height: 100%;
        width: 50%;
        margin-left: auto;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        .link {
            position: relative;
            font-size: 1.25rem;
            text-decoration: none;
            .line {
                position: absolute;
                bottom: -0.15em;
                left: 0;
                height: 10%;
                width: 100%;
                border-radius: 0.15em;
                transform: scale(0);
                transition: transform 500ms ease-in-out;
            }
            &.active .line {
                transition-delay: 500ms;
                transform: scale(1) !important;
            }
            &:hover .line {
                transform: scale(1);
            }
        }
    }
    .logo {
        position: absolute;
        left: 5%;
        font-size: 2rem;
        font-weight: 900;
        a {
            text-decoration: none;
        }
    }
}

@media all and (max-width: 768px) {
    .hamburger {
        height: 40%;
        width: 9%;
        position: absolute;
        top: 50%;
        right: 5%;
        transform: translateY(-50%);
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        cursor: pointer;
        .upper-layer,
        .middle-layer,
        .lower-layer{
            height: 7%;
            width: 100%;
            background-color: #dadada;
            transition: transform 500ms ease-in-out
        }
        &:hover .middle-layer{
            transform: scale(0);
        }
        &:hover .upper-layer{
            // transform: translateY(1em) rotate(45deg);
            animation: hamUP 500ms ease-in-out alternate;
        }
        &:hover .lower-layer{
            // transform: translateY(-1em) rotate(-45deg);
            animation: hamLP 500ms ease-in-out alternate;
        }
    }

    @keyframes hamUP {
        
    }
}
