.outer {
    position: relative;
    height: 1.4vw;
    width: 3.9vw;
    cursor: pointer;
    border-radius: 20px;
    border: 0.1em solid;

    .inner {
        position: absolute;
        top: 50%;
        left: 0.3vw;
        transform: translateY(-50%);
        height: 0.7vw;
        width: 0.7vw;
        border-radius: 50%;
        border: 0.1em solid;
        transition: transform 500ms ease-in-out !important;
        
    }
}
.circle {
    transform: translate(2.45vw,-50%) !important
}
