// mobile first
.container-home {
    height: 80%;
    width: 100vw;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    .svg-home {
        position: relative;
        height: 100%;
        width: 400px;
    }

    .left-container-home {
        text-align: center;
        line-height: 8vh;
        font-size: 2rem;

        .text-home {
            .name-home,
            .profession-home {
                font-weight: 900;
            }

            .profession-home {
                font-style: italic;
            }
        }

        .button-home {
            display: flex;
            height: 4em;
            justify-content: space-evenly;
            align-items: center;

            .resume-button,
            .work-button {
                cursor: pointer;
                color: inherit;
                border: none;
                height: 2em;
                width: 6em;
                border-radius: 15px;
                position: relative;
                font-size: 0.6em;

                span{
                    position: absolute;
                    font-size: 70%;
                    top: 50%;
                    left: 50%;
                    transform: translate(-50%,-50%);
                }
            }

            .resume-button{
                color: #dadada;
            }

            .work-button {
                background-color: transparent;
                border: 1.5px solid;
            }
        }
    }

    .arrow {
        cursor: pointer;
        height: 1.5em;
        width: 1.5em;
        position: relative;
        border-left: 1.5px solid;
        border-bottom: 1.5px solid;
        border-radius: 1px;
        // margin-left: 1em;
    }
}

@media all and (min-width: 769px){
    .container-home{
        flex-direction: row-reverse;
        justify-content: space-evenly;
        flex-wrap: wrap;

        .svg-home{
            width: 35vw;
            justify-self: flex-end !important;
        }

        .left-container-home{
            padding-top: 1.5em;
            display: flex;
            flex-direction: column;
            justify-content: space-evenly;
            text-align: left;
            white-space: nowrap;
            font-size: 2.7vw;
            line-height: 10vh;
            height: 70%;
            width: 35vw;
        }

        .button-home{
            justify-content: space-around !important;

            .resume-button,
            .work-button{
                border-radius: 100px !important;
                font-family: inherit;
                transition: opacity 500ms ease-in-out;

                &:hover{
                    opacity: 0.8;
                }
            }

            .resume-button{
                color: white !important;
            }

            .work-button{
                margin-right: 3em;
            }
        }

        .arrow{
            position: absolute;
            top: 100%;
            left: 50%;
            transform: translate(-50%,-100%);
            margin-left: initial;
        }
    }
}