// Importing Font
@import url("https://fonts.googleapis.com/css?family=Poppins&display=swap");

// Resetting
*,
*::before,
*::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

*:focus {
    outline: none;
}

// fonts with fallback
html,
body {
    font-family: "Poppins", -apple-system, BlinkMacSystemFont, "Segoe UI",
        Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
        sans-serif;
    overflow: hidden;
}
// Defining each section
section {
    padding-top: 10vh;
    height: 100vh;
    width: 100vw;
    transition: background-color 0.5s ease-in-out;
    position: relative;

    .test{
        background-color: red;;
        position: absolute;
        top: calc(50% + 10vh);
        left: 50%;
        transform: translate(-50%, calc(-50% - 10vh));
    }
}
// Hidding scrollbar (Chrome/Safari)
// ::-webkit-scrollbar{
//     display: none;
// }